body{
    background: url("https://i.pinimg.com/564x/c9/9a/3a/c99a3a5417efc137ba5471330f7932a4.jpg");
}

.header-container{
    display: flex;
    justify-content: center;
}

.header-items{
    font-size: 25px;
    font-style: oblique;
    font-family: 'Nerko One', cursive;


}


.moves{
    display: flex;
    justify-content: center;
}

.who{
    line-height: 150px;
    display: flex;
    justify-content: center;
}

.main-container {    
    height: 350px;
    display: flex;
    flex: 1 1 1 auto;
    justify-content: center;

    
}

.main-item1{
    border: 2px solid rgb(55, 55, 241);
    height: 350px;
    width: 650px;
    flex: 1 1 1 auto;
}

.you{
    display: flex;
    justify-content: center;
   font-family: 'Nerko One', cursive;
    
    
}

img {
    width: 100px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(125, 125, 207);
    border-radius: 5px;
    box-shadow: 2px 5px #8888;
    
}

.scissor{
    height: 105px;
}

.photo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.p1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin-top: 25px;
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: rgb(224, 217, 207);    

}

.p2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin-top: 25px;
    border-radius: 5px;
}

.p1:hover, .p1:active, .p1:focus{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: rgb(192, 36, 15);
    box-shadow: 1px 3px rgb(233, 154, 81);
    
}

.main-item2{
    border: 2px solid rgb(55, 55, 241);
    height: 350px;
    width: 650px;
   
}

.list1, .list2, .list3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score{
    display: flex;
    justify-content: center;
}

.score1 {
    position: absolute;
    left: 500px;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.score2{
    position: absolute;
    right: 500px;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}